body {
  font-family: "Raleway", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 700;
  color: var(--main-title-color);
}

p {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  color: var(--main-text-color);
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

:root {
  --main-title-color: #d4c17f;
  --second-title-color: #ffffff;
  --main-text-color: #ffffff;
  --second-text-color: #d4c17f;
  --main-nav-color: #d4c17f;
  --second-nav-color: #ffffff;
  --main-icon-color: #d4c17f;
  --second-icon-color: #ffffff;
  --main-anime: cubic-bezier(0.4, 0, 0.2, 1);
  --main-time-anime: 250ms;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.hero {
  padding-top: 96px;
  padding-bottom: 43px;
  background-image: linear-gradient(180deg, #242b33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242b33 92.19%), url(../image/hero480x402.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 156px;
    padding-bottom: 74px;
    background-image: linear-gradient(180deg, #242b33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242b33 92.19%), url(../image/hero1280x560.jpg);
  }
}

.hero__title {
  font-size: 26px;
  line-height: calc(64 / 48);
  text-align: center;
  color: #d4c17f;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 48px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    width: 556px;
  }
}

.hero__list {
  display: flex;
  margin-top: 22px;
  justify-content: center;
}

.hero__item:not(:last-child) {
  margin-right: 20px;
}

.hero__icon {
  fill: var(--main-icon-color);
  transition: fill var(--main-time-anime) var(--main-anime);
}

.hero__link:focus .hero__icon,
.hero__link:hover .hero__icon {
  fill: var(--second-icon-color);
}

.hero__info-list {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .hero__info-list {
    margin-top: 140px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__info-list {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
  }
}

.hero__info-item:not(:last-child) {
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .hero__info-item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 96px;
  }
}

.hero__info-link {
  color: var(--main-text-color);
  font-size: 18px;
  line-height: calc(21 / 18);
  display: flex;
  transition: color var(--main-time-anime) var(--main-anime);
}

.hero__info-link:hover, .hero__info-link:focus {
  color: var(--second-text-color);
}

.hero__info-icon {
  fill: var(--second-icon-color);
  margin-right: 10px;
  transition: fill var(--main-time-anime) var(--main-anime);
}

.hero__info-link:focus .hero__info-icon,
.hero__info-link:hover .hero__info-icon {
  fill: var(--main-icon-color);
}

.advantage {
  background-color: #242b33;
  padding-top: 80px;
  padding-bottom: 80px;
}

@media screen and (min-width: 768px) {
  .advantage {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 1200px) {
  .advantage {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.advantage__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: -40px;
  margin-left: -20px;
}

@media screen and (min-width: 1200px) {
  .advantage__list {
    flex-wrap: nowrap;
    max-width: 790px;
    margin: 0 auto;
  }
}

.advantage__item {
  flex-basis: calc(100% / 2 - 70px);
  margin-top: 40px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .advantage__item {
    margin-left: 0;
  }
  .advantage__item:not(:last-child) {
    margin-right: 70px;
  }
}

.advantage__text {
  margin-top: 20px;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  line-height: 1.35;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .advantage__text {
    margin-top: 33px;
    font-size: 20px;
  }
}

.work {
  background-color: #242b33;
  padding-top: 80px;
  padding-bottom: 80px;
}

@media screen and (min-width: 768px) {
  .work {
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 1200px) {
  .work {
    padding-bottom: 180px;
  }
}

.work__title {
  font-size: 24px;
  line-height: calc(48 / 36);
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .work__title {
    margin-left: 130px;
    font-size: 36px;
  }
}

@media screen and (min-width: 1200px) {
  .work__title {
    font-size: 36px;
    margin-bottom: 100px;
    margin-left: 90px;
  }
}

.work__list {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

@media screen and (min-width: 1200px) {
  .work__list {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
}

@media screen and (max-width: 1199px) {
  .work__item {
    width: 100%;
  }
  .work__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.work__link {
  position: relative;
  display: block;
  background-image: linear-gradient(180deg, #242b33 0%, rgba(36, 43, 51, 0) 0.01%, #242b33 100%), url(../image/work/work-1.jpg);
  max-width: 480px;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.work__link:hover, .work__link:focus {
  border: 1px solid var(--main-nav-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .work__link {
    width: 535px;
    height: 320px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .work__link {
    flex-basis: calc(100% / 2 - 30px);
    margin-top: 30px;
    margin-left: 30px;
    width: 535px;
    height: 320px;
  }
}

.work__link-2 {
  position: relative;
  display: block;
  background-image: linear-gradient(180deg, #242b33 0%, rgba(36, 43, 51, 0) 0.01%, #242b33 100%), url(../image/work/work-2.jpg);
  max-width: 480px;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.work__link-2:hover, .work__link-2:focus {
  border: 1px solid var(--main-nav-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .work__link-2 {
    width: 535px;
    height: 320px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .work__link-2 {
    flex-basis: calc(100% / 2 - 30px);
    margin-top: 30px;
    margin-left: 30px;
    width: 535px;
    height: 320px;
  }
}

.work__link-3 {
  position: relative;
  display: block;
  background-image: linear-gradient(180deg, #242b33 0%, rgba(36, 43, 51, 0) 0.01%, #242b33 100%), url(../image/work/work-3.jpg);
  max-width: 480px;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.work__link-3:hover, .work__link-3:focus {
  border: 1px solid var(--main-nav-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .work__link-3 {
    width: 535px;
    height: 320px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .work__link-3 {
    flex-basis: calc(100% / 2 - 30px);
    margin-top: 30px;
    margin-left: 30px;
    width: 535px;
    height: 320px;
  }
}

.work__link-4 {
  position: relative;
  display: block;
  background-image: linear-gradient(180deg, #242b33 0%, rgba(36, 43, 51, 0) 0.01%, #242b33 100%), url(../image/work/work-4.jpg);
  max-width: 480px;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.work__link-4:hover, .work__link-4:focus {
  border: 1px solid var(--main-nav-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .work__link-4 {
    width: 535px;
    height: 320px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .work__link-4 {
    flex-basis: calc(100% / 2 - 30px);
    margin-top: 30px;
    margin-left: 30px;
    width: 535px;
    height: 320px;
  }
}

.work__link-5 {
  position: relative;
  display: block;
  background-image: linear-gradient(180deg, #242b33 0%, rgba(36, 43, 51, 0) 0.01%, #242b33 100%), url(../image/work/work-5.jpg);
  max-width: 480px;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.work__link-5:hover, .work__link-5:focus {
  border: 1px solid var(--main-nav-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .work__link-5 {
    width: 535px;
    height: 320px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .work__link-5 {
    flex-basis: calc(100% / 2 - 30px);
    margin-top: 30px;
    margin-left: 30px;
    width: 535px;
    height: 320px;
  }
}

.work__link-6 {
  position: relative;
  display: block;
  background-image: linear-gradient(180deg, #242b33 0%, rgba(36, 43, 51, 0) 0.01%, #242b33 100%), url(../image/work/work-8.jpg);
  max-width: 480px;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.work__link-6:hover, .work__link-6:focus {
  border: 1px solid var(--main-nav-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .work__link-6 {
    width: 535px;
    height: 320px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .work__link-6 {
    flex-basis: calc(100% / 2 - 30px);
    margin-top: 30px;
    margin-left: 30px;
    width: 535px;
    height: 320px;
  }
}

.work__text {
  position: absolute;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: calc(28 / 24);
  text-align: center;
}

.quotes {
  background-color: #242b33;
  padding-top: 80px;
  padding-bottom: 80px;
}

@media screen and (min-width: 768px) {
  .quotes {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 1200px) {
  .quotes {
    padding-top: 20px;
    padding-bottom: 120px;
  }
}

.quotes__text:not(:last-child) {
  margin-bottom: 16px;
}

@media screen and (min-width: 1200px) {
  .quotes__text {
    margin-left: 90px;
  }
}

.footer {
  padding-top: 76px;
  padding-bottom: 114px;
  background-image: linear-gradient(180deg, #242b33 10.42%, rgba(36, 43, 51, 0) 50.52%, #242b33 90.1%), linear-gradient(0deg, rgba(36, 43, 51, 0.9), rgba(36, 43, 51, 0.9)), url(../image/footer-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
    justify-content: space-around;
  }
}

.footer__info-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__info-item:not(:last-child) {
  margin-bottom: 20px;
}

.footer__info-link {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.05em;
  color: var(--main-text-color);
  transition: color var(--main-time-anime) var(--main-anime);
}

.footer__info-link:focus, .footer__info-link:hover {
  color: var(--second-text-color);
}

.footer__info-icon {
  margin-right: 6px;
  fill: var(--second-icon-color);
  transition: fill var(--main-time-anime) var(--main-anime);
}

.footer__info-link:hover .footer__info-icon,
.footer__info-link:focus .footer__info-icon {
  fill: var(--main-icon-color);
}

.footer__list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}

@media screen and (min-width: 1200px) {
  .footer__list {
    margin-top: 0;
  }
}

.footer__item:not(:last-child) {
  margin-right: 20px;
}

.footer__link {
  display: block;
  width: 48px;
  height: 48px;
}

.footer__icon {
  fill: var(--main-icon-color);
  transition: fill var(--main-time-anime) var(--main-anime);
}

.footer__link:hover .footer__icon,
.footer__link:focus .footer__icon {
  fill: var(--second-icon-color);
}

.first-work {
  width: 100vw;
  height: 100vh;
  padding-top: 46px;
  padding-bottom: 74px;
  background-color: #242b33;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

.first-work__title {
  font-size: 18px;
  line-height: calc(64 / 48);
  text-align: center;
  color: #d4c17f;
  margin: 0 auto;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .first-work__title {
    font-size: 36px;
  }
}

.first-work__text {
  font-size: 16px;
  margin-bottom: 20px;
}

.first-work__list {
  margin-left: 10px;
}

.first-work__item {
  color: var(--main-text-color);
}

.first-work__item:not(:last-child) {
  margin-bottom: 10px;
}

.cost-item {
  font-size: 20px;
  list-style: none;
}

@media screen and (min-width: 768px) {
  .cost-item {
    font-size: 36px;
  }
}

.first-work__item-color {
  color: var(--second-text-color);
}

.first-work__link {
  position: fixed;
  top: 85vh;
  right: 10vw;
}

.first-work__icon {
  fill: var(--main-icon-color);
  transition: fill var(--main-time-anime) var(--main-anime);
}

.first-work__icon:focus, .first-work__icon:hover {
  fill: var(--second-icon-color);
}

.second-work {
  width: 100vw;
  padding-top: 46px;
  padding-bottom: 74px;
  background-image: linear-gradient(180deg, #242b33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242b33 92.19%), url(../image/work/work-2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

.second-work__title {
  font-size: 18px;
  line-height: calc(64 / 48);
  text-align: center;
  color: #d4c17f;
  margin: 0 auto;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .second-work__title {
    font-size: 36px;
  }
}

.second-work__text {
  line-height: 1.7;
}

@media screen and (min-width: 768px) {
  .second-work__text {
    font-size: 26px;
  }
}

.second-work__link {
  position: fixed;
  top: 85vh;
  right: 10vw;
}

.second-work__icon {
  fill: var(--main-icon-color);
  transition: fill var(--main-time-anime) var(--main-anime);
}

.second-work__icon:focus, .second-work__icon:hover {
  fill: var(--second-icon-color);
}

.third-work {
  width: 100vw;
  padding-top: 46px;
  padding-bottom: 74px;
  background-image: linear-gradient(180deg, #242b33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242b33 92.19%), url(../image/work/work-3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

.third-work__title {
  font-size: 18px;
  line-height: calc(64 / 48);
  text-align: center;
  color: #d4c17f;
  margin: 0 auto;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .third-work__title {
    font-size: 36px;
  }
}

.third-work__text {
  line-height: 1.7;
}

@media screen and (min-width: 768px) {
  .third-work__text {
    font-size: 26px;
  }
}

.third-work__link {
  position: fixed;
  top: 85vh;
  right: 10vw;
}

@media screen and (min-width: 1200px) {
  .third-work__link {
    top: 70vh;
  }
}

.third-work__icon {
  fill: var(--main-icon-color);
  transition: fill var(--main-time-anime) var(--main-anime);
}

.third-work__icon:focus, .third-work__icon:hover {
  fill: var(--second-icon-color);
}

.fourth-work {
  width: 100vw;
  padding-top: 46px;
  padding-bottom: 74px;
  background-image: linear-gradient(180deg, #242b33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242b33 92.19%), url(../image/work/work-6.jpg);
  background-repeat: no-repeat;
  background-position-x: 20%;
  background-size: cover;
  margin: 0 auto;
}

.fourth-work__title {
  font-size: 18px;
  line-height: calc(64 / 48);
  text-align: center;
  color: #d4c17f;
  margin: 0 auto;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .fourth-work__title {
    font-size: 36px;
  }
}

.fourth-work__text {
  line-height: 1.7;
}

@media screen and (min-width: 768px) {
  .fourth-work__text {
    font-size: 26px;
  }
}

.fourth-work__link {
  position: fixed;
  top: 85vh;
  right: 10vw;
}

@media screen and (min-width: 1200px) {
  .fourth-work__link {
    top: 70vh;
  }
}

.fourth-work__icon {
  fill: var(--main-icon-color);
  transition: fill var(--main-time-anime) var(--main-anime);
}

.fourth-work__icon:focus, .fourth-work__icon:hover {
  fill: var(--second-icon-color);
}

.fiveth-work {
  width: 100vw;
  padding-top: 46px;
  padding-bottom: 74px;
  background-image: linear-gradient(180deg, #242b33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242b33 92.19%), url(../image/work/work-5.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

.fiveth-work__title {
  font-size: 18px;
  line-height: calc(64 / 48);
  text-align: center;
  color: #d4c17f;
  margin: 0 auto;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .fiveth-work__title {
    font-size: 36px;
  }
}

.fiveth-work__text {
  line-height: 1.7;
}

@media screen and (min-width: 768px) {
  .fiveth-work__text {
    font-size: 26px;
  }
}

.fiveth-work__link {
  position: fixed;
  top: 90vh;
  right: 10vw;
}

@media screen and (min-width: 1200px) {
  .fiveth-work__link {
    top: 70vh;
  }
}

.fiveth-work__icon {
  fill: var(--main-icon-color);
  transition: fill var(--main-time-anime) var(--main-anime);
}

.fiveth-work__icon:focus, .fiveth-work__icon:hover {
  fill: var(--second-icon-color);
}

.sixth-work {
  width: 100vw;
  padding-top: 46px;
  padding-bottom: 74px;
  background-image: linear-gradient(180deg, #242b33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242b33 92.19%), url(../image/work/work-8.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

.sixth-work__title {
  font-size: 18px;
  line-height: calc(64 / 48);
  text-align: center;
  color: #d4c17f;
  margin: 0 auto;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .sixth-work__title {
    font-size: 36px;
  }
}

.sixth-work__text {
  line-height: 1.7;
}

@media screen and (min-width: 768px) {
  .sixth-work__text {
    font-size: 26px;
  }
}

.sixth-work__link {
  position: fixed;
  top: 85vh;
  right: 10vw;
}

@media screen and (min-width: 1200px) {
  .sixth-work__link {
    top: 70vh;
  }
}

.sixth-work__icon {
  fill: var(--main-icon-color);
  transition: fill var(--main-time-anime) var(--main-anime);
}

.sixth-work__icon:focus, .sixth-work__icon:hover {
  fill: var(--second-icon-color);
}
/*# sourceMappingURL=main.css.map */