body {
  font-family: "Raleway", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 700;
}

p {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

:root {
  --main-title-color: #d4c17f;
  --second-title-color: #ffffff;
  --main-text-color: #ffffff;
  --main-nav-color: #d4c17f;
  --second-nav-color: #ffffff;
  --main-icon-color: #d4c17f;
  --main-anime: cubic-bezier(0.4, 0, 0.2, 1);
  --main-time-anime: 250ms;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.hero {
  padding-top: 96px;
  padding-bottom: 74px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(11.98%, #242b33), color-stop(51.04%, rgba(45, 52, 60, 0.38)), color-stop(92.19%, #242b33)), url(/image/hero-img.jpg);
  background-image: linear-gradient(180deg, #242b33 11.98%, rgba(45, 52, 60, 0.38) 51.04%, #242b33 92.19%), url(/image/hero-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .hero {
    font-size: 48px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 156px;
    padding-bottom: 74px;
  }
}

.hero__title {
  font-size: 26px;
  line-height: calc(64 / 48);
  text-align: center;
  color: #d4c17f;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 48px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    width: 556px;
  }
}

.hero__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__item:not(:last-child) {
  margin-right: 20px;
}

.hero__icon {
  fill: var(--main-icon-color);
}

.hero__info-list {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1200px) {
  .hero__info-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.hero__info-item:not(:last-child) {
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .hero__info-item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 96px;
  }
}

.hero__info-link {
  color: var(--main-text-color);
  font-size: 18px;
  line-height: calc(21 / 18);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__info-icon {
  fill: var(--main-text-color);
  margin-right: 10px;
}
/*# sourceMappingURL=main.css.map */