.fiveth-work {
  width: 100vw;
  // height: 100vh;
  padding-top: 46px;
  padding-bottom: 74px;
  background-image: linear-gradient(
      180deg,
      #242b33 11.98%,
      rgba(45, 52, 60, 0.38) 51.04%,
      #242b33 92.19%
    ),
    url(../image/work/work-5.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

.fiveth-work__title {
  font-size: 18px;
  line-height: calc(64 / 48);
  text-align: center;
  color: #d4c17f;
  margin: 0 auto;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    font-size: 36px;
  }
}

.fiveth-work__text {
  line-height: 1.7;
  @media screen and (min-width: 768px) {
    font-size: 26px;
  }
}

.fiveth-work__link {
  position: fixed;
  top: 90vh;
  right: 10vw;
  @media screen and (min-width: 1200px) {
    top: 70vh;
  }
}

.fiveth-work__icon {
  fill: var(--main-icon-color);
  transition: fill var(--main-time-anime) var(--main-anime);

  &:focus,
  &:hover {
    fill: var(--second-icon-color);
  }
}
