.footer {
  padding-top: 76px;
  padding-bottom: 114px;
  background-image: linear-gradient(
      180deg,
      #242b33 10.42%,
      rgba(36, 43, 51, 0) 50.52%,
      #242b33 90.1%
    ),
    linear-gradient(0deg, rgba(36, 43, 51, 0.9), rgba(36, 43, 51, 0.9)),
    url(../image/footer-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

.footer__container {
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: space-around;
  }
}

.footer__info-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__info-item:not(:last-child) {
  margin-bottom: 20px;
}

.footer__info-link {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.05em;
  color: var(--main-text-color);
  transition: color var(--main-time-anime) var(--main-anime);
  &:focus,
  &:hover {
    color: var(--second-text-color);
  }
}

.footer__info-icon {
  margin-right: 6px;
  fill: var(--second-icon-color);
  transition: fill var(--main-time-anime) var(--main-anime);

  .footer__info-link:hover &,
  .footer__info-link:focus & {
    fill: var(--main-icon-color);
  }
}

.footer__list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;

  @media screen and (min-width: 1200px) {
    margin-top: 0;
  }
}

.footer__item {
  &:not(:last-child) {
    margin-right: 20px;
  }
}

.footer__link {
  display: block;
  width: 48px;
  height: 48px;
}

.footer__icon {
  fill: var(--main-icon-color);
  transition: fill var(--main-time-anime) var(--main-anime);
  .footer__link:hover &,
  .footer__link:focus & {
    fill: var(--second-icon-color);
  }
}
