.fourth-work {
  width: 100vw;
  height: 100vh;
  padding-top: 96px;
  padding-bottom: 74px;
  background-image: linear-gradient(
      180deg,
      #242b33 11.98%,
      rgba(45, 52, 60, 0.38) 51.04%,
      #242b33 92.19%
    ),
    url(../image/exemple-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

.fourth-work__link {
  position: absolute;
  top: 85vh;
  right: 10vw;
}

.fourth-work__icon {
  fill: var(--main-icon-color);
  transition: fill var(--main-time-anime) var(--main-anime);

  &:focus,
  &:hover {
    fill: var(--second-icon-color);
  }
}
