:root {
  --main-title-color: #d4c17f;
  --second-title-color: #ffffff;
  --main-text-color: #ffffff;
  --main-nav-color: #d4c17f;
  --second-nav-color: #ffffff;
  --main-icon-color: #d4c17f;
  --main-anime: cubic-bezier(0.4, 0, 0.2, 1);
  --main-time-anime: 250ms;
}
